.WorkingHours-subjects {
  height: 100%;
  width: 100%;
  padding: 16px;
  background: #f0f0f0;
  border: 1px dashed silver;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


}